<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdy.common.rbac.mapper.OperateLogInfoMapper" >
  <resultMap id="BaseResultMap" type="com.cdy.common.rbac.entiy.OperateLogInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="uname" property="uname" jdbcType="VARCHAR" />
    <result column="from_ip" property="fromIp" jdbcType="VARCHAR" />
    <result column="operate_func" property="operateFunc" jdbcType="VARCHAR" />
    <result column="visit_method" property="visitMethod" jdbcType="VARCHAR" />
    <result column="method_cost_time" property="methodCostTime" jdbcType="VARCHAR" />
    <result column="log_type" property="logType" jdbcType="VARCHAR" />
    <result column="uri" property="uri" jdbcType="VARCHAR" />
    <result column="method" property="method" jdbcType="VARCHAR" />
    <result column="visit_method_error_info" property="visitMethodErrorInfo" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="login_out_time" property="loginOutTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from operate_log_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cdy.common.rbac.entiy.OperateLogInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into operate_log_info (id, uid, uname, 
      from_ip, operate_func, visit_method, 
      method_cost_time, log_type, uri, 
      method, visit_method_error_info, status, 
      login_out_time, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{uname,jdbcType=VARCHAR}, 
      #{fromIp,jdbcType=VARCHAR}, #{operateFunc,jdbcType=VARCHAR}, #{visitMethod,jdbcType=VARCHAR}, 
      #{methodCostTime,jdbcType=VARCHAR}, #{logType,jdbcType=VARCHAR}, #{uri,jdbcType=VARCHAR}, 
      #{method,jdbcType=VARCHAR}, #{visitMethodErrorInfo,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, 
      #{loginOutTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cdy.common.rbac.entiy.OperateLogInfo" >
    update operate_log_info
    set uid = #{uid,jdbcType=INTEGER},
      uname = #{uname,jdbcType=VARCHAR},
      from_ip = #{fromIp,jdbcType=VARCHAR},
      operate_func = #{operateFunc,jdbcType=VARCHAR},
      visit_method = #{visitMethod,jdbcType=VARCHAR},
      method_cost_time = #{methodCostTime,jdbcType=VARCHAR},
      log_type = #{logType,jdbcType=VARCHAR},
      uri = #{uri,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      visit_method_error_info = #{visitMethodErrorInfo,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      login_out_time = #{loginOutTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, uid, uname, from_ip, operate_func, visit_method, method_cost_time, log_type, 
    uri, method, visit_method_error_info, status, login_out_time, create_time, update_time
    from operate_log_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, uid, uname, from_ip, operate_func, visit_method, method_cost_time, log_type, 
    uri, method, visit_method_error_info, status, login_out_time, create_time, update_time
    from operate_log_info
  </select>
</mapper>